html {
    .back2 {
        background-image: url(../resources/img/Anillos.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: top;
        background-attachment: fixed;
        background-blend-mode: hard-light;
        height: 100vh;
        scrollbar-gutter: stable both-edges;

        .header {
            div.border-bottom {
                border-bottom: solid 1px white !important;
            }

            .bgsuricata {
                filter: invert(100%);
            }
        }

        main {
            .headerOurStory {
                color: #ffffff;
                font-size: 2.4rem;
                width: 100%;
                text-align: center;
                padding: 2rem 0 0 0;
            }

            .subheader {
                padding-top: 4rem;
                position: relative;
                height: 40vh;
                p {
                    color: #ccc;
                    font-size: 1.5rem;
                    background: rgb(255, 0, 255);
                    background: linear-gradient(90deg, rgba(255, 0, 255, 0.5) 0%, rgba(60, 0, 88, 1) 60%);
                    padding: 1rem 3rem;
                    border-radius: 80px;
                    text-align: center;
                }
            }

            .carousel {
                margin-bottom: 4rem;
                h1{
                    color: #0000ff;

                }
                .carousel-caption {
                    bottom: 3rem;
                    z-index: 10;
                    color: white;
                }

                .carousel-item {
                    text-align: center;
                    height: 38rem;
                    img{
                        height: 100%;
                        width: auto;
                    }
                    .span{
                        color: rgb(0, 80, 145);
                    }
                    .span2{
                        color: #b80000;
                    }
                    .span3{
                        color: #000000;
                    }
                    .span4{
                        color: #8400ff;
                    }
                    .span5{
                        font-family: 'Tektur';
                        text-transform: uppercase;
                        color: #b80000;
                    }
                    .span6{
                        color: #00e1ff;
                    }
            }
        }
        .featurette-divider {
            opacity: 1;
            color: white;
            margin: 5rem 0;
        }
        .footerdivider{
            margin-bottom: 0;
        }
        .row{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            .featurette-heading {
                text-transform: uppercase;
                font-family: 'Caveat';
                color: white;
                letter-spacing: .25rem;
                text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
            }
            h2{
                margin: 1.5rem;
                .featurette-span{
                    color: rgb(131, 0, 143);
                    font-weight: 100;
                    text-shadow: 2px 3px #000000;
                }
            }
            
            p{
                color: rgb(255, 255, 255);
                margin: 1rem;
                text-shadow: 2px 3px #000000;
            }
        }
        .footer{
            height: 100vh;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            div{
                text-align: center;
                margin-right: 3rem;
                a{
                    font-family: 'Caveat';
                    margin: auto;
                    font-size: 2.8rem;
                    button{
                        font-weight: 800;
                        padding: 1rem 1.5rem;
                        border-radius: 25px;
                        background-color: rgb(255, 0, 255);
                    }
                }
                i{
                    margin: 1rem auto;
                    font-size: 2rem;
                    color: rgb(255, 0, 255);
                }
                h3{
                    padding: 0.8rem 0.5rem;
                    width: 15%;
                    border-radius: 25px;
                    background-color: rgba(5, 5, 5, 0.616);
                    font-weight: 900;
                    color: rgb(255, 255, 255);
                    margin: auto;
                }
            }
        }
    }
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 3rem;
        }
    }
}